@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Britney';
  src: url('/fonts/Britney-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: medium;
}

.custom-font-headline {
  font-family: 'Britney', sans-serif;
}

.custom-font-body {
  font-family: 'Quicksand', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
